server/build/*
server/tmp*
python_virtual/*
virtual_env/*
__pycache__/
*.py[cod]
.idea/
*.tmp
.idea
*/.idea
spinalcordweb/*
outputs/*
py_virtual/*
scripts/*
client/node_modules/*
client/build/*
client/app/bower_components/*
server/server/static/tmp/*
*.egg*
