python_virtual/*
python_virtual/
python_virtual
virtual_env/*
virtual_env/
virtual_env
__pycache__/
*.py[cod]
.idea/
*.tmp
.idea
*/.idea
spinalcordweb/
spinalcordweb
spinalcordweb/*
outputs/*
py_virtual/
py_virtual
py_virtual/*
scripts/
scripts/*
scripts
client/app/bower_components
client/app/bower_components/
client/app/bower_components/*
client/node_modules
client/node_modules/
client/node_modules/*
client/build
client/build/
client/build/*