<div ng-controller="BrowserCtrl">
  <h2>File Browser</h2>
  <!-- <input type="text" ng-model="NewFile.path" /> <br/>
        <input type="text" ng-model="NewFile.text" /> -->
  <h3>Path {{NewFile.path}} Name: {{NewFile.text}} </h3>

  <div class="tree-browser">
    <a href="/tree">File Browser</a>
    <js-tree id="jstree" tree-plugins="checkbox" tree-events="changed:changedCB" tree-ajax="/tree"></js-tree>
  </div>
  <div class="file-viewer">
    <pre><code>{{fileViewer}}</pre>
    </code>
  </div>
</div>
