<div class="container">
	<div class="row">
		<div ng-controller="FileUploadCtrl"  class="col-lg-6 pull-left">
			<h2>Uploader</h2>
			<h3>Path: {{NewFile.path}} Name: {{NewFile.text}}  </h3>
			<div >Username
				<input type="text" ng-model="username"></br></br>
				watching model:
				<div class="btn btn-default" ngf-select ng-model="file" ngf-multiple="false"><span class="glyphicon glyphicon-fire text-warning" aria-hidden="true"></span> Select File</div>
				<br/><br/>
				on file change multiple:
				<div class="btn btn-default" ngf-select ngf-change="upload($files)" ngf-multiple="true"><span class="glyphicon glyphicon-upload text-success" aria-hidden="true"></span> Select File</div>
				<br/><br/>
				Drop File:
				<div ngf-drop ngf-select ng-model="files" class="drop-box"
					ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
				accept="image/*,application/pdf">Drop pdfs or images here or click to upload</div>
				<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
				<br/>
				Files:
				<ul>
					<li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
				</ul>
				Upload Log:
			<pre>{{log}}</pre>
		</div>
	</div>
	<div class="row">
		<div ng-controller="ToolboxCtrl" class="col-lg-6 pull-right">
			<h2>File Browser</h2>
			<!-- <input type="text" ng-model="NewFile.path" /> <br/>
			<input type="text" ng-model="NewFile.text" /> -->
			<h3>Path {{NewFile.path}} Name: {{NewFile.text}}  </h3>
			<div class="tree-browser">
				<a href="/tree">File Browser</a>
				<js-tree id="jstree" tree-plugins="checkbox" tree-events="changed:changedCB" tree-ajax="/tree"></js-tree>
			</div>
			<div class="file-viewer">
			<pre><code>{{fileViewer}}</pre></code>
		</div>
	</div>
</div>