<div ng-controller="ToolsCtrl">
  <div class="row">
    <div class="row col-lg-7 col-md-7">
      <div class="input-inline">
        <label>Select a Tool:
          <select class="form-control" ng-model="toolSelected" ng-options="tool.displayName for tool in tools"
                  ng-change="change()">
            <option value="">-- choose a SCTool --</option>
          </select>
        </label>
        <br/>
      </div>
    </div>
    <div class="row col-lg-7 col-md-7">
      <div class="input-group">
        <input id="inputs" name="inputs" type="text" placeholder="Inputs" class="form-control disabled" required=""
               ng-model="inputs">
        <span class="input-group-btn">
        <button class="btn btn-success" type="button" ng-click="compute(toolSelected.value,args,inputs)">Go!</button>
      </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <h5>A short description for the tool selected: {{toolSelected.description}}</h5>

      <form sf-schema="schema" sf-form="form" sf-model="args"></form>
      Les arguments qui vont être envoyés:
      <p>{{args}}</p>
    </div>
  </div>


</div>
