<div class="container">

  <div class="col-lg-8 col-sm-12 col-md-8">
    <div class="row">
      <h3>Here will be the Tools</h3>
      <div ng-include="'views/tools.html'"></div>
    </div>
    <div class="row">
      <h3>Here will be the Arguments Controler</h3>
      <div ng-include="'views/arguments.html'"></div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-12 col-md-4 center-block">
    <tabset justified="true" >
      <tab heading="Upload"><div ng-include="'views/file-upload.html'"></div></tab>
      <tab heading="Browser"><div ng-include="'views/browser.html'"></div></tab>
    </tabset>
  </div>
</div>
